* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
select,
textarea {
  font: inherit;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.left {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e24;
  color: white;
  text-align: center;
  gap: 2.5rem;
}

.left-header {
  align-self: flex-start;
  padding: 1rem;
}

img {
  max-width: calc(90%);
  block-size: auto;
}

.right {
  flex: 0 0 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f79d65;
  gap: 1rem;
}

.right-header {
  color: white;
}
.form-body {
  background-color: white;
  padding: 1rem;
 

}
.form-row {
  display: flex;
  gap: 3rem;
  
}

.form-group{
  display: flex;
  flex-direction: column;
  flex: 1;
}


