* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
select,
textarea {
  font: inherit;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.left {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e24;
  color: white;
  text-align: center;
  gap: 2.5rem;
}

.left-header {
  align-self: flex-start;
  padding: 1rem;
  text-align: left;
}

img {
  max-width: calc(85%);
  block-size: auto;
}

.right {
  flex: 0 0 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f79d65;
  gap: 1rem;
}

.right-header {
  color: white;
  letter-spacing: 0.06rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-body {
  padding: 1rem;

}
.form-row {
  display: flex;
  gap: 4rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-btn {
  padding: 10px 50px;
  max-width: 250px;
  border-radius: 5px;
  color: white;
  background-color: #1e1e24;
  margin-bottom: 0.5rem;
  border: 0;
  outline: none;
  letter-spacing: 0.06rem;
  font-size: 1.1rem;
}

input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.3rem;
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 1rem;
  background-color: #F79D65;
  border-bottom: 2px black solid;
}

label {
  font-weight: bold;
}

.login {
  font-weight: bold;
}
