* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
select,
textarea {
  font: inherit;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.left {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f79d65;
  color: #f4f1ea;
  text-align: center;
  gap: 2.5rem;
}

.left-header {
  align-self: flex-start;
  padding: 1rem;
  text-align: left;
}

img {
  max-width: calc(85%);
  block-size: auto;
}

.right {
  flex: 0 0 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e24;
  gap: 1rem;
}

.right-header {
  color: #f4f1ea;
  letter-spacing: 0.06rem;
  font-size: 2.4rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-row {
  display: flex;
  gap: 4rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-btn {
  padding: 10px 50px;
  max-width: 250px;
  border-radius: 5px;
  color: #f4f1ea;
  background-color: #f79d65;
  margin-bottom: 0.5rem;
  border: 0;
  outline: none;
  letter-spacing: 0.06rem;
  font-size: 1.1rem;
}

input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.3rem;
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 1rem;
  color: #f4f1ea;
  background-color: #1e1e24;
  border-bottom: 2px #1e1e24 solid;
  border-radius: 5px;
}

input:focus {
  border: 1px solid #f79d65;
}

input:user-valid {
  border: 1px solid #f79d65;
}
input:user-invalid {
  border: 1px solid red;
}

input:-webkit-autofill {
  border: 1px solid f79d65;
  -webkit-text-fill-color: #f4f1ea;
  font-family: "Montserrat", sans-serif;
  transition: background-color 5000s ease-in-out 0s;
}

label {
  font-weight: bold;
  color: #f4f1ea;
}

.login {
  font-weight: bold;
  color: #f79d65;
}

.btn-text {
  color: #f4f1ea;
}

/*
Source - https://stackoverflow.com/a/2610741
Posted by fuxia, modified by community. See post 'Timeline' for change history
Retrieved 2026-08-08, License - CC BY-SA 4.0
*/

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #8f8b8a;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #8f8b8a;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #8f8b8a;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8f8b8a;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8f8b8a;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #8f8b8a;
}
